<%= render 'sidebar' %>

<div class="span9">
  <div><h4>Paste : <%= @paste.created_at %></h4></div>
  <div class="well">
    <%= text_area(:paste, :content, :class => 'pasteArea span12') %>
  </div>
</div>


