<div class="span9">
  <div class="well">
    <div id="validation-msg" class="alert alert-error" style="display:none;">
      <a class="close" data-dismiss="alert" href="#">x</a>
      <h4 class="alert-heading">Error</h4>
      <span>Paste cannot be null or empty</span>
    </div>
    <%=@paste.content%>
  </div>
</div>


