body {
}

.top{
	border:1px solid red;
}
.mainarea{
	position:relative;
}

.trend{
	border:1px solid orange;
	position:absolute;
	left:0;
	width:20%;
}
.paste{
	border:1px solid purple;
	position:absolute;
	width:80%;
	right:0;
}

textarea#pastedtext {
	border: 3px solid #cccccc;
	padding: 5px;
}

 