<html>
<head>
<title>Gluestick</title>
</head>
<body>
	<div id="top" class="topContainer">
		<span id="logoHolder"><a href="#">gluestick</a></span>
	</div>
	<div>
		<div id="trending" class="trendContainer">
			<ul class="trends">
				<li class="trend">
					<span>
						<a href="#">a21deee7c82ec4b17e4f63088fd225751...</a>
					</span><br />
					<span class="trendTimestamp">Created 04-MAY-2012, 15:00:01</span>						
				</li>
				<li class="trend">
					<span>
						<a href="#">a21deee7c82ec4b17e4f63088fd225751...</a>
					</span><br />
					<span class="trendTimestamp">Created 04-MAY-2012, 15:00:01</span>						
				</li>
				<li class="trend">
					<span>
						<a href="#">a21deee7c82ec4b17e4f63088fd225751...</a>
					</span><br />
					<span class="trendTimestamp">Created 04-MAY-2012, 15:00:01</span>						
				</li>
				<li class="trend">
					<span>
						<a href="#">a21deee7c82ec4b17e4f63088fd225751...</a>
					</span><br />
					<span class="trendTimestamp">Created 04-MAY-2012, 15:00:01</span>						
				</li>
				<li class="trend">
					<span>
						<a href="#">a21deee7c82ec4b17e4f63088fd225751...</a>
					</span><br />
					<span class="trendTimestamp">Created 04-MAY-2012, 15:00:01</span>						
				</li>
				<li class="trend">
					<span>
						<a href="#">a21deee7c82ec4b17e4f63088fd225751...</a>
					</span><br />
					<span class="trendTimestamp">Created 04-MAY-2012, 15:00:01</span>						
				</li>
				<li class="trend">
					<span>
						<a href="#">a21deee7c82ec4b17e4f63088fd225751...</a>
					</span><br />
					<span class="trendTimestamp">Created 04-MAY-2012, 15:00:01</span>						
				</li>
				<li class="trend">
					<span>
						<a href="#">a21deee7c82ec4b17e4f63088fd225751...</a>
					</span><br />
					<span class="trendTimestamp">Created 04-MAY-2012, 15:00:01</span>						
				</li>
				<li class="trend">
					<span>
						<a href="#">a21deee7c82ec4b17e4f63088fd225751...</a>
					</span><br />
					<span class="trendTimestamp">Created 04-MAY-2012, 15:00:01</span>						
				</li>
				<li class="trend">
					<span>
						<a href="#">a21deee7c82ec4b17e4f63088fd225751...</a>
					</span><br />
					<span class="trendTimestamp">Created 04-MAY-2012, 15:00:01</span>						
				</li>
				<li class="trend">
					<span>
						<a href="#">a21deee7c82ec4b17e4f63088fd225751...</a>
					</span><br />
					<span class="trendTimestamp">Created 04-MAY-2012, 15:00:01</span>						
				</li>
				<li class="trend">
					<span>
						<a href="#">a21deee7c82ec4b17e4f63088fd225751...</a>
					</span><br />
					<span class="trendTimestamp">Created 04-MAY-2012, 15:00:01</span>						
				</li>
			</ul>
		</div>
		<div id="paste" class="pasteContainer">
			<textarea rows="27" cols="110" class="pasteArea"></textarea>			
		</div>			
	</div>
	<div id="command" class="commandContainer">
		<ul style="" class="commands">
			<li class="command">
				<input type="text" class="url" readonly value="http://">
			</li>
			<li class="command">
				<input type="button" value="Save">
			</li>
		</ul>
	</div>
</body>
</html>