<html>
<head>
<title>GlueStick Skeleton</title>
</head>
<body>
<table width="80%" height="100%" border="1" align="center">
	<tr>
		<td colspan="2" style="background-color:#92C7C7;">
			<h1>GlueStick !</h1>
		</td>
	</tr>
	<tr valign="top">
		<td style="background-color:#FFF8C6;width:20%;height:500px;">trending posts</td>
		<td style="background-color:#FFD700;width:60%;height:500px;">paste here!</td>		
	</tr>
	<tr>
		<td style="background-color:#92C7C7;height:20px;">About me</td>
		<td style="background-color:#92C7C7;height:20px;">Buttons and links</td>
	</tr>
</table>
</body>
</html>