<html>
<head>
<title>GlueStick Skeleton</title>
</head>
<body>	
		<div id="header" class="top">gluestick</div>
		<div id="mainarea" class="mainarea">
			<div id="trend" class="trend">
				<!-- unordered list goes here -->
				<ul>
					<li>[c] hash.....</li>
				</ul>
			</div>			
			<div id="paste" class="paste">
				<textarea name="pastedtext" id="pastedtext">Paste your content here</textarea>
			</div>
		</div>
</body>
</html>